html{
    border: 1px solid white;
    margin: 150px 0px 0px 0px;
    

  }

  h1{
    font-family: 'Rammetto One', cursive;
    text-align: center;
  }

  h3,p{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
  }

.link {
  height: 50px;
  text-align: center;
}

.link a{
  margin: 10px;
  color: black;
}

hr { 
    display: block;
    
    margin-left: 25%;
    margin-right: 25%;
    border-style: groove;
    border-width: 10px;
}

.egg{
  text-align: center;
}