html {
  height: 100%;
  background: white;
  overflow: hidden;
}

#stars {
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow: 928px 1211px #50C4F2 , 1984px 91px #F25050 , 1938px 1089px #BF50F2 , 295px 1579px #50F289 , 1701px 821px #EDF250 , 833px 1090px #F29A35 , 
  1658px 1771px #50C4F2 , 43px 97px #F25050 , 772px 1123px #BF50F2 , 873px 1116px #50F289 , 1248px 748px #EDF250 , 1969px 284px #F29A35 , 
  895px 792px #50C4F2 , 333px 19px #F25050 , 249px 1604px #BF50F2 , 428px 1293px #50F289 , 953px 28px #EDF250 , 1117px 1413px #F29A35 , 1921px 635px #50C4F2 , 1670px 1482px #50F289 , 1783px 1870px #BF50F2 , 1039px 1019px #F29A35 , 928px 1107px #EDF250 , 142px 129px #F29A35 ,
   1656px 230px #50C4F2 , 1641px 1739px #F25050 , 958px 926px #BF50F2 , 157px 301px #50F289 , 1566px 996px #EDF250 , 168px 1484px #F29A35 , 
   1668px 1063px #50C4F2 , 1353px 371px #F25050 , 1944px 555px #BF50F2 , 958px 414px #50F289 , 534px 1260px #EDF250 , 590px 1543px #F29A35 ,
    274px 1615px #50C4F2 , 62px 682px #F25050 , 700px 1768px #BF50F2 , 1315px 1160px #50F289 , 1897px 1774px #EDF250 , 613px 427px #F29A35 ,
     914px 555px #50C4F2 , 440px 1252px #F25050 , 514px 452px #BF50F2 , 1422px 1863px #50F289 , 834px 1469px #EDF250 , 1451px 1104px #F29A35 ,
      1072px 1238px #50C4F2 , 1899px 1047px #F25050 , 385px 1814px #BF50F2 , 1964px 2000px #50F289 , 1917px 1065px #EDF250 , 5px 1429px #F29A35 ,
       534px 171px #50C4F2 , 434px 185px #F25050 , 1544px 127px #BF50F2 , 1166px 657px #50F289 , 1045px 1725px #EDF250 , 1388px 1677px #F29A35 , 
       641px 1261px #50C4F2 , 346px 594px #F25050 , 1240px 1282px #BF50F2 , 1863px 781px #50F289 , 1225px 531px #EDF250 , 1108px 937px #F29A35 ,
        1837px 1696px #50C4F2 , 1794px 1587px #F25050 , 1302px 63px #BF50F2 , 374px 217px #50F289 , 428px 987px #EDF250 , 517px 1060px #F29A35 ,
         190px 1024px #50C4F2 , 944px 1642px #F25050 , 1193px 673px #BF50F2 , 1861px 1078px #50F289 , 1153px 199px #EDF250 , 882px 980px #F29A35 ,
          1373px 364px #50C4F2 , 840px 827px #F25050 , 15px 1996px #BF50F2 , 258px 1147px #50F289 , 1053px 1847px #EDF250 , 1106px 1587px #F29A35 ,
           807px 1509px #50C4F2 , 4px 656px #F25050 , 1748px 736px #BF50F2 , 1736px 1494px #50F289 , 1907px 1133px #EDF250 , 1591px 1931px #F29A35 ,
           964px 1537px #50C4F2 , 1015px 564px #F25050 , 569px 1347px #BF50F2 , 1192px 345px #50F289 , 1302px 391px #EDF250 , 730px 784px #F29A35 ,
            1335px 1657px #50C4F2 , 1727px 613px #F25050 , 590px 1672px #BF50F2 , 1981px 1355px #50F289 , 1593px 343px #EDF250 , 432px 583px #F29A35 ,
             552px 1167px #50C4F2 , 428px 696px #F25050 , 948px 616px #BF50F2 , 120px 1050px #50F289 , 1605px 1441px #EDF250 , 1202px 1410px #F29A35 , 
             103px 910px #50C4F2 , 1790px 345px #F25050 , 823px 1596px #BF50F2 , 1693px 1004px #50F289 , 1262px 1018px #EDF250 , 1906px 1564px #F29A35 ,
              882px 894px #50C4F2 , 1487px 974px #F25050 , 1867px 1438px #BF50F2 , 1805px 1407px #50F289 , 941px 453px #EDF250 , 1987px 1127px #F29A35 ,
               1096px 634px #50C4F2 , 1571px 502px #F25050 , 836px 1058px #BF50F2 , 29px 1044px #50F289 , 198px 1383px #EDF250 , 730px 183px #F29A35 , 
               1775px 459px #50C4F2 , 1090px 1393px #F25050 , 856px 1332px #BF50F2 , 1657px 1456px #50F289 , 632px 1204px #EDF250 , 253px 904px #F29A35 ,
                1129px 1007px #50C4F2 , 327px 1523px #F25050 , 1654px 1458px #BF50F2 , 850px 1142px #50F289 , 1601px 411px #EDF250 , 111px 920px #F29A35 ,
                 1910px 1246px #50C4F2 , 1656px 1493px #F25050 , 1415px 1484px #BF50F2 , 867px 1588px #50F289 , 1815px 1970px #EDF250 , 768px 1347px #F29A35 , 
                 1868px 326px #50C4F2 , 979px 83px #F25050 , 1203px 1010px #BF50F2 , 1613px 348px #50F289 , 868px 1153px #EDF250 , 55px 278px #F29A35 , 
                 642px 214px #50C4F2 , 199px 1990px #F25050 , 887px 1634px #BF50F2 , 1835px 450px #50F289 , 1459px 230px #EDF250 , 996px 545px #F29A35 ,
                  163px 927px #50C4F2 , 1840px 287px #F25050 , 201px 1938px #BF50F2 , 1638px 1935px #50F289 , 1889px 1390px #EDF250 , 556px 426px #F29A35 , 
                  466px 1894px #50C4F2 , 1893px 1657px #F25050 , 781px 898px #BF50F2 , 1113px 1022px #50F289 , 539px 1633px #EDF250 , 190px 257px #F29A35 , 
                  1685px 1719px #50C4F2 , 251px 1899px #F25050 , 283px 667px #BF50F2 , 934px 342px #50F289 , 905px 1659px #EDF250 , 77px 1316px #F29A35 ,
                   1359px 542px #50C4F2 , 1498px 1490px #F25050 , 354px 166px #BF50F2 , 97px 99px #50F289 , 322px 106px #EDF250 , 836px 452px #F29A35 ,
                    1999px 649px #50C4F2 , 858px 1760px #F25050 , 756px 227px #BF50F2 , 1763px 1154px #50F289 , 1640px 1354px #EDF250 , 1599px 1271px #F29A35 , 
                    1371px 1552px #50C4F2 , 1374px 281px #F25050 , 613px 1082px #BF50F2 , 1268px 1584px #50F289 , 1090px 1426px #EDF250 , 1610px 1650px #F29A35 ,
1343px 1263px #50C4F2 , 810px 363px #F25050 , 1765px 422px #BF50F2 , 946px 198px #50F289 , 167px 968px #EDF250 , 1483px 409px #F29A35 ,
1016px 1521px #50C4F2 , 1586px 1589px #F25050 , 1111px 304px #BF50F2 , 1933px 1775px #50F289 , 206px 1598px #EDF250 , 465px 1021px #F29A35 , 
1489px 1570px #50C4F2 , 469px 1929px #F25050 , 1668px 765px #BF50F2 , 476px 641px #50F289 , 1455px 150px #EDF250 , 1873px 693px #F29A35 , 
366px 950px #50C4F2 , 1295px 323px #F25050 , 732px 180px #BF50F2 , 224px 694px #50F289 , 1820px 721px #EDF250 , 1688px 767px #F29A35 , 426px 1283px #50C4F2 , 1922px 1511px #F25050 , 1758px 1360px #BF50F2 , 73px 1809px #50F289 , 1883px 25px #EDF250 , 1277px 248px #F29A35 , 
1839px 135px #50C4F2 , 1284px 346px #F25050 , 1391px 282px #BF50F2 , 1502px 631px #50F289 , 72px 1729px #EDF250 , 395px 1229px #F29A35 , 
161px 866px #50C4F2 , 629px 761px #F25050 , 1165px 1672px #BF50F2 , 16px 655px #50F289 , 872px 1683px #EDF250 , 1357px 236px #F29A35 ,
543px 1634px #50C4F2 , 1892px 260px #F25050 , 1036px 632px #BF50F2 , 84px 1929px #50F289 , 425px 595px #EDF250 , 1602px 1460px #F29A35 , 
1661px 387px #50C4F2 , 948px 1px #F25050 , 195px 396px #BF50F2 , 53px 1619px #50F289 , 1644px 151px #EDF250 , 336px 1325px #F29A35 ,
260px 121px #50C4F2 , 162px 202px #F25050 , 965px 783px #BF50F2 , 1115px 923px #50F289 , 1812px 1726px #EDF250 , 1919px 1545px #F29A35 , 
15px 1327px #50C4F2 , 552px 1845px #F25050 , 583px 67px #BF50F2 , 1412px 1427px #50F289 , 102px 20px #EDF250 , 1940px 381px #F29A35 ,
308px 489px #50C4F2 , 1052px 1712px #F25050, 1936px 1020px #BF50F2 , 1069px 464px #50F289 , 313px 885px #EDF250 , 1610px 456px #F29A35 , 
1454px 866px #50C4F2 , 465px 1916px #F25050 , 1787px 706px #BF50F2 , 131px 1219px #50F289 , 845px 1455px #EDF250 , 407px 753px #F29A35 , 
796px 346px #50C4F2 , 781px 858px #F25050 , 1419px 952px #BF50F2 , 1892px 768px #50F289 , 1935px 636px #EDF250 , 1206px 1694px #F29A35 , 
1715px 1830px #50C4F2 , 1637px 656px #F25050 , 1697px 1978px #BF50F2 , 1774px 597px #50F289 , 1644px 1356px #EDF250 , 1855px 1901px #F29A35 , 
1629px 1126px #50C4F2 , 1590px 1006px #F25050 , 693px 844px #BF50F2 , 888px 1137px #50F289 , 1640px 1186px #EDF250 , 1161px 174px #F29A35 ,
1998px 1893px #50C4F2 , 776px 698px #F25050 , 552px 858px #BF50F2 , 706px 1627px #50F289 , 1749px 85px #EDF250 , 1358px 1565px #F29A35 , 
1202px 874px #50C4F2 , 928px 1229px #F25050 , 1608px 1030px #BF50F2 , 771px 1344px #50F289 , 253px 478px #EDF250 , 178px 741px #F29A35 , 
238px 1509px #50C4F2 , 295px 1719px #F25050 , 616px 838px #BF50F2 , 1823px 855px #50F289 , 1133px 80px #EDF250 , 567px 1367px #F29A35 , 822px 519px #50C4F2 , 271px 401px #F25050 , 473px 1142px #BF50F2 , 1971px 246px #50F289 , 544px 1946px #EDF250 , 136px 510px #F29A35 , 
925px 1346px #50C4F2 , 1507px 1534px #F25050 , 1203px 1961px #BF50F2 , 333px 1256px #50F289 , 1398px 338px #EDF250 , 1114px 862px #F29A35 ,
518px 582px #50C4F2 , 1042px 1386px #F25050 , 995px 442px #BF50F2 , 1408px 1674px #50F289 , 1161px 1766px #EDF250 , 1104px 543px #F29A35 , 
74px 1017px #50C4F2 , 1495px 1060px #F25050 , 727px 436px #BF50F2 , 1666px 519px #50F289 , 439px 1877px #EDF250 , 347px 787px #F29A35 , 1766px 1108px #50C4F2 , 129px 1945px #F25050 , 1755px 1917px #BF50F2 , 4px 1512px #50F289 , 1377px 1714px #EDF250 , 753px 1900px #F29A35 , 
960px 838px #50C4F2 , 1651px 1815px #F25050 , 348px 1622px #BF50F2 , 1173px 407px #50F289 , 1346px 1474px #EDF250 , 1917px 1740px #F29A35 , 
723px 1661px #50C4F2 , 335px 45px #F25050 , 1290px 1204px #BF50F2 , 1807px 265px #50F289 , 301px 22px #EDF250 , 1106px 1060px #F29A35 , 695px 1895px #50C4F2 , 917px 1135px #F25050 , 896px 861px #BF50F2 , 236px 160px #50F289 , 1930px 368px #EDF250 , 1092px 909px #F29A35 ,
 258px 1436px #50C4F2 , 1316px 636px #F25050 , 1935px 1896px #BF50F2 , 1929px 829px #50F289 , 1480px 1937px #EDF250 , 410px 266px #F29A35 , 
 1837px 336px #50C4F2 , 1564px 457px #F25050 , 643px 1014px #BF50F2 , 766px 194px #50F289 , 929px 579px #EDF250 , 292px 1077px #F29A35 , 
 1985px 1080px #50C4F2 , 742px 1206px #F25050 , 1474px 1174px #BF50F2 , 920px 1700px #50F289 , 878px 255px #EDF250 , 262px 77px #F29A35 , 
 334px 652px #50C4F2 , 1102px 1375px #F25050 , 1907px 710px #BF50F2 , 1266px 258px #50F289 , 1044px 1410px #EDF250 , 62px 1179px #F29A35 , 
 783px 1256px #50C4F2 , 1104px 1386px #F25050 , 1756px 1354px #BF50F2 , 1886px 674px #50F289 , 340px 1085px #EDF250 , 1189px 1374px #F29A35 ,
  299px 1481px #50C4F2 , 452px 170px #F25050 , 336px 154px #BF50F2 , 1447px 594px #50F289 , 1334px 920px #EDF250 , 1084px 1554px #F29A35 ,
   1264px 235px #50C4F2 , 1596px 662px #F25050 , 200px 1917px #BF50F2 , 1576px 700px #50F289 , 528px 1739px #EDF250 , 1356px 465px #F29A35 ,
 1720px 190px #50C4F2 , 739px 819px #F25050 , 1278px 630px #BF50F2 , 202px 1983px #50F289 , 483px 1868px #EDF250 , 624px 745px #F29A35 ,
  1801px 444px #50C4F2 , 776px 1853px #F25050 , 1271px 313px #BF50F2 , 402px 1304px #50F289 , 1787px 742px #EDF250 , 932px 361px #F29A35 ,
 1087px 1490px #50C4F2 , 1137px 1972px #F25050 , 1988px 1168px #BF50F2 , 1622px 407px #50F289 , 1125px 719px #EDF250 , 680px 760px #F29A35 ,
  665px 1061px #50C4F2 , 1225px 1840px #F25050 , 12px 245px #BF50F2 , 135px 1173px #50F289 , 123px 307px #EDF250 , 1558px 866px #F29A35 , 
  1964px 814px #50C4F2 , 1903px 1087px #F25050 , 233px 1644px #BF50F2 , 1491px 1479px #50F289 , 1263px 545px #EDF250 , 678px 567px #F29A35 ,
   1108px 334px #50C4F2 , 4px 178px #F25050 , 1278px 595px #BF50F2 , 772px 1802px #50F289 , 382px 524px #EDF250 , 187px 1992px #F29A35 ,
    1322px 1078px #50C4F2 , 1997px 405px #F25050 , 1072px 990px #BF50F2 , 96px 873px #50F289 , 659px 1809px #EDF250 , 1318px 22px #F29A35 ,
     1694px 503px #50C4F2 , 1495px 498px #F25050 , 578px 1930px #BF50F2 , 655px 355px #50F289 , 328px 416px #EDF250 , 360px 1501px #F29A35 ,
      1170px 1487px #50C4F2 , 1604px 743px #F25050 , 1384px 1093px #BF50F2 , 857px 566px #50F289 , 580px 937px #EDF250 , 1302px 1762px #F29A35 ,
869px 1016px #50C4F2 , 145px 220px #F25050 , 817px 451px #BF50F2 , 1698px 333px #50F289 , 740px 57px #EDF250 , 202px 70px #F29A35 ,
 1403px 1385px #50C4F2 , 4px 976px #F25050 , 1084px 607px #BF50F2 , 1376px 1161px #50F289 , 1972px 1562px #EDF250 , 1575px 1805px #F29A35 , 
 1566px 20px #50C4F2 , 226px 599px #F25050 , 1238px 1860px #BF50F2 , 1769px 1954px #50F289 , 1132px 205px #EDF250 , 1697px 572px #F29A35 , 
 931px 819px #50C4F2 , 1068px 763px #F25050 , 107px 1095px #BF50F2 , 1958px 246px #50F289 , 1200px 936px #EDF250 , 805px 788px #F29A35 , 
 270px 1530px #50C4F2 , 1327px 1794px #F25050 , 893px 1014px #BF50F2 , 821px 1405px #50F289 , 645px 932px #EDF250 , 1526px 1598px #F29A35 , 
 876px 1483px #50C4F2 , 60px 1544px #F25050 , 298px 368px #BF50F2 , 973px 320px #50F289 , 1066px 912px #EDF250 , 498px 1792px #F29A35 , 1801px 1780px #50C4F2 , 1282px 1746px #F25050 , 1163px 644px #BF50F2 , 679px 703px #50F289 , 778px 309px #EDF250 , 714px 1493px #F29A35 , 
 158px 1329px #50C4F2 , 264px 1840px #F25050 , 306px 1283px #BF50F2 , 312px 1597px #50F289 , 385px 1758px #EDF250 , 465px 681px #F29A35 , 
 796px 690px #50C4F2 , 646px 1213px #F25050 , 950px 1805px #BF50F2 , 73px 561px #50F289 , 464px 1573px #EDF250 , 729px 1305px #F29A35 , 939px 1568px #50C4F2 , 1893px 603px #F25050 , 1137px 128px #BF50F2 , 1172px 218px #50F289 , 390px 332px #EDF250 , 922px 50px #F29A35 , 
 470px 1188px #50C4F2 , 546px 1832px #F25050 , 1671px 1409px #BF50F2 , 1075px 1446px #50F289 , 1500px 26px #EDF250 , 540px 1531px #F29A35 , 
 690px 1783px #50C4F2 , 374px 1357px #F25050 , 824px 958px #BF50F2 , 848px 1046px #50F289 , 336px 1382px #EDF250 , 181px 1789px #F29A35 , 
 1811px 605px #50C4F2 , 1509px 178px #F25050 , 632px 13px #BF50F2 , 710px 310px #50F289 , 101px 1615px #EDF250 , 444px 1244px #F29A35 , 411px 416px #50C4F2 , 605px 1956px #F25050 , 157px 1470px #BF50F2 , 1268px 579px #50F289 , 1585px 1567px #EDF250 , 1770px 1918px #F29A35 , 
 1339px 720px #50C4F2 , 91px 495px #F25050 , 1587px 1697px #BF50F2 , 1445px 345px #50F289 , 435px 1951px #EDF250 , 1570px 206px #F29A35 , 
 512px 1623px #50C4F2 , 566px 1518px #F25050 , 1270px 331px #BF50F2 , 1551px 1849px #50F289 , 1099px 1689px #EDF250 , 1939px 1933px #F29A35 , 
 193px 1539px #50C4F2 , 486px 1528px #F25050 , 513px 819px #BF50F2 , 920px 1697px #50F289 , 1826px 278px #EDF250 , 246px 882px #F29A35 , 
 33px 923px #50C4F2 , 1034px 1578px #F25050 , 779px 195px #BF50F2 , 1914px 1269px #50F289 , 494px 1096px #EDF250 , 1812px 70px #F29A35 , 
 344px 674px #50C4F2 , 1531px 1834px #F25050 , 1130px 783px #BF50F2 , 1355px 1183px #50F289 , 1792px 562px #EDF250 , 566px 1135px #F29A35 , 
 1688px 467px #50C4F2 , 1791px 369px #F25050 , 460px 470px #BF50F2 , 1051px 1962px #50F289 , 1250px 351px #EDF250 , 1982px 107px #F29A35 , 
 356px 285px #50C4F2 , 1420px 1686px #F25050 , 648px 1335px #BF50F2 , 25px 76px #50F289 , 135px 552px #EDF250 , 1126px 323px #F29A35 , 393px 836px #50C4F2 , 1165px 983px #F25050 , 541px 15px #BF50F2 , 526px 1503px #50F289 , 174px 964px #EDF250 , 121px 1183px #F29A35 , 
 1287px 1433px #50C4F2 , 1881px 1436px #F25050 , 910px 1854px #BF50F2 , 139px 838px #50F289 , 768px 866px #EDF250 , 28px 1048px #F29A35 , 
 1236px 1519px #50C4F2 , 1097px 903px #F25050 , 563px 1708px #BF50F2 , 745px 594px #50F289 , 1383px 1192px #EDF250 , 1732px 470px #F29A35 , 
 1371px 232px #50C4F2 , 173px 699px #F25050 , 1064px 538px #BF50F2 , 1660px 1638px #50F289 , 1095px 561px #EDF250 , 508px 888px #F29A35 , 
 216px 1554px #50C4F2 , 667px 1557px #F25050 , 735px 1981px #BF50F2 , 1830px 1846px #50F289 , 1356px 1442px #EDF250 , 109px 938px #F29A35 , 
 1059px 1291px #50C4F2 , 472px 1622px #F25050 , 1935px 1962px #BF50F2 , 1775px 6px #50F289 , 1901px 761px #EDF250 , 1841px 1370px #F29A35 ,
  47px 244px #50C4F2 , 17px 285px #F25050 , 688px 1630px #BF50F2 , 1212px 1353px #50F289 , 1406px 590px #EDF250 , 834px 1606px #F29A35 , 
  163px 384px #50C4F2 , 146px 1358px #F25050 , 1865px 1539px #BF50F2 , 858px 973px #50F289 , 503px 387px #EDF250 , 433px 630px #F29A35 , 
  1606px 703px #50C4F2 , 531px 1975px #F25050 , 1485px 203px #BF50F2 , 1184px 106px #50F289 , 1948px 1800px #EDF250 , 834px 1579px #F29A35 ,
   226px 493px #50C4F2 , 1399px 774px #F25050 , 1172px 32px #BF50F2 , 1027px 1930px #50F289 , 1701px 539px #EDF250 , 358px 145px #F29A35 , 
   793px 1496px #50C4F2 , 759px 1294px #F25050 , 1004px 829px #BF50F2 , 205px 1391px #50F289 , 1001px 1409px #EDF250 , 1455px 880px #F29A35 , 
   935px 1355px #50C4F2 , 519px 645px #F25050 , 1977px 1038px #BF50F2 , 186px 231px #50F289 , 764px 1508px #EDF250 , 1160px 1876px #F29A35 , 
   494px 988px #50C4F2 , 517px 1024px #F25050 , 1939px 1187px #BF50F2 , 196px 20px #50F289 , 1548px 632px #EDF250 , 1446px 1931px #F29A35 , 
   1804px 1688px #50C4F2 , 1250px 1608px #F25050 , 655px 1657px #BF50F2 , 631px 1046px #50F289 , 1378px 869px #EDF250 , 1291px 1208px #F29A35 , 
   625px 1434px #50C4F2 , 650px 142px #F25050 , 445px 1536px #BF50F2 , 644px 463px #50F289 , 1951px 1045px #EDF250 , 391px 531px #F29A35 , 
   1381px 1001px #50C4F2 , 871px 1973px #F25050 , 205px 1261px #BF50F2 , 921px 348px #50F289 , 1050px 1819px #EDF250 , 626px 1104px #F29A35 , 
   1704px 694px #50C4F2 , 209px 786px #F25050 , 1820px 355px #BF50F2 , 810px 861px #50F289 , 1294px 1342px #EDF250 , 974px 355px #F29A35 , 
   1093px 658px #50C4F2 , 681px 1801px #F25050 , 411px 340px #BF50F2 , 953px 940px #50F289 , 1466px 1697px #EDF250 , 593px 404px #F29A35 , 
   541px 1085px #50C4F2 , 1393px 325px #F25050 , 1203px 1165px #BF50F2 , 368px 1980px #50F289 , 1143px 1899px #EDF250 , 1888px 1352px #F29A35 , 
   40px 991px #50C4F2 , 232px 149px #F25050 , 746px 553px #BF50F2 , 1947px 657px #50F289 , 365px 1942px #EDF250 , 1654px 312px #F29A35 , 
   999px 83px #50C4F2 , 992px 1947px #F25050 , 1319px 941px #BF50F2 , 1848px 1253px #50F289;
  animation: animStar 15s linear infinite reverse;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 4px;
  height: 4px;
  background: transparent;
  box-shadow: 928px 1211px #50C4F2 , 1984px 91px #F25050 , 1938px 1089px #BF50F2 , 295px 1579px #50F289 , 1701px 821px #EDF250 , 833px 1090px #F29A35 , 
  1658px 1771px #50C4F2 , 43px 97px #F25050 , 772px 1123px #BF50F2 , 873px 1116px #50F289 , 1248px 748px #EDF250 , 1969px 284px #F29A35 , 
  895px 792px #50C4F2 , 333px 19px #F25050 , 249px 1604px #BF50F2 , 428px 1293px #50F289 , 953px 28px #EDF250 , 1117px 1413px #F29A35 , 1921px 635px #50C4F2 , 1670px 1482px #50F289 , 1783px 1870px #BF50F2 , 1039px 1019px #F29A35 , 928px 1107px #EDF250 , 142px 129px #F29A35 ,
   1656px 230px #50C4F2 , 1641px 1739px #F25050 , 958px 926px #BF50F2 , 157px 301px #50F289 , 1566px 996px #EDF250 , 168px 1484px #F29A35 , 
   1668px 1063px #50C4F2 , 1353px 371px #F25050 , 1944px 555px #BF50F2 , 958px 414px #50F289 , 534px 1260px #EDF250 , 590px 1543px #F29A35 ,
    274px 1615px #50C4F2 , 62px 682px #F25050 , 700px 1768px #BF50F2 , 1315px 1160px #50F289 , 1897px 1774px #EDF250 , 613px 427px #F29A35 ,
     914px 555px #50C4F2 , 440px 1252px #F25050 , 514px 452px #BF50F2 , 1422px 1863px #50F289 , 834px 1469px #EDF250 , 1451px 1104px #F29A35 ,
      1072px 1238px #50C4F2 , 1899px 1047px #F25050 , 385px 1814px #BF50F2 , 1964px 2000px #50F289 , 1917px 1065px #EDF250 , 5px 1429px #F29A35 ,
       534px 171px #50C4F2 , 434px 185px #F25050 , 1544px 127px #BF50F2 , 1166px 657px #50F289 , 1045px 1725px #EDF250 , 1388px 1677px #F29A35 , 
       641px 1261px #50C4F2 , 346px 594px #F25050 , 1240px 1282px #BF50F2 , 1863px 781px #50F289 , 1225px 531px #EDF250 , 1108px 937px #F29A35 ,
        1837px 1696px #50C4F2 , 1794px 1587px #F25050 , 1302px 63px #BF50F2 , 374px 217px #50F289 , 428px 987px #EDF250 , 517px 1060px #F29A35 ,
         190px 1024px #50C4F2 , 944px 1642px #F25050 , 1193px 673px #BF50F2 , 1861px 1078px #50F289 , 1153px 199px #EDF250 , 882px 980px #F29A35 ,
          1373px 364px #50C4F2 , 840px 827px #F25050 , 15px 1996px #BF50F2 , 258px 1147px #50F289 , 1053px 1847px #EDF250 , 1106px 1587px #F29A35 ,
           807px 1509px #50C4F2 , 4px 656px #F25050 , 1748px 736px #BF50F2 , 1736px 1494px #50F289 , 1907px 1133px #EDF250 , 1591px 1931px #F29A35 ,
           964px 1537px #50C4F2 , 1015px 564px #F25050 , 569px 1347px #BF50F2 , 1192px 345px #50F289 , 1302px 391px #EDF250 , 730px 784px #F29A35 ,
            1335px 1657px #50C4F2 , 1727px 613px #F25050 , 590px 1672px #BF50F2 , 1981px 1355px #50F289 , 1593px 343px #EDF250 , 432px 583px #F29A35 ,
             552px 1167px #50C4F2 , 428px 696px #F25050 , 948px 616px #BF50F2 , 120px 1050px #50F289 , 1605px 1441px #EDF250 , 1202px 1410px #F29A35 , 
             103px 910px #50C4F2 , 1790px 345px #F25050 , 823px 1596px #BF50F2 , 1693px 1004px #50F289 , 1262px 1018px #EDF250 , 1906px 1564px #F29A35 ,
              882px 894px #50C4F2 , 1487px 974px #F25050 , 1867px 1438px #BF50F2 , 1805px 1407px #50F289 , 941px 453px #EDF250 , 1987px 1127px #F29A35 ,
               1096px 634px #50C4F2 , 1571px 502px #F25050 , 836px 1058px #BF50F2 , 29px 1044px #50F289 , 198px 1383px #EDF250 , 730px 183px #F29A35 , 
               1775px 459px #50C4F2 , 1090px 1393px #F25050 , 856px 1332px #BF50F2 , 1657px 1456px #50F289 , 632px 1204px #EDF250 , 253px 904px #F29A35 ,
                1129px 1007px #50C4F2 , 327px 1523px #F25050 , 1654px 1458px #BF50F2 , 850px 1142px #50F289 , 1601px 411px #EDF250 , 111px 920px #F29A35 ,
                 1910px 1246px #50C4F2 , 1656px 1493px #F25050 , 1415px 1484px #BF50F2 , 867px 1588px #50F289 , 1815px 1970px #EDF250 , 768px 1347px #F29A35 , 
                 1868px 326px #50C4F2 , 979px 83px #F25050 , 1203px 1010px #BF50F2 , 1613px 348px #50F289 , 868px 1153px #EDF250 , 55px 278px #F29A35 , 
                 642px 214px #50C4F2 , 199px 1990px #F25050 , 887px 1634px #BF50F2 , 1835px 450px #50F289 , 1459px 230px #EDF250 , 996px 545px #F29A35 ,
                  163px 927px #50C4F2 , 1840px 287px #F25050 , 201px 1938px #BF50F2 , 1638px 1935px #50F289 , 1889px 1390px #EDF250 , 556px 426px #F29A35 , 
                  466px 1894px #50C4F2 , 1893px 1657px #F25050 , 781px 898px #BF50F2 , 1113px 1022px #50F289 , 539px 1633px #EDF250 , 190px 257px #F29A35 , 
                  1685px 1719px #50C4F2 , 251px 1899px #F25050 , 283px 667px #BF50F2 , 934px 342px #50F289 , 905px 1659px #EDF250 , 77px 1316px #F29A35 ,
                   1359px 542px #50C4F2 , 1498px 1490px #F25050 , 354px 166px #BF50F2 , 97px 99px #50F289 , 322px 106px #EDF250 , 836px 452px #F29A35 ,
                    1999px 649px #50C4F2 , 858px 1760px #F25050 , 756px 227px #BF50F2 , 1763px 1154px #50F289 , 1640px 1354px #EDF250 , 1599px 1271px #F29A35 , 
                    1371px 1552px #50C4F2 , 1374px 281px #F25050 , 613px 1082px #BF50F2 , 1268px 1584px #50F289 , 1090px 1426px #EDF250 , 1610px 1650px #F29A35 ,
1343px 1263px #50C4F2 , 810px 363px #F25050 , 1765px 422px #BF50F2 , 946px 198px #50F289 , 167px 968px #EDF250 , 1483px 409px #F29A35 ,
1016px 1521px #50C4F2 , 1586px 1589px #F25050 , 1111px 304px #BF50F2 , 1933px 1775px #50F289 , 206px 1598px #EDF250 , 465px 1021px #F29A35 , 
1489px 1570px #50C4F2 , 469px 1929px #F25050 , 1668px 765px #BF50F2 , 476px 641px #50F289 , 1455px 150px #EDF250 , 1873px 693px #F29A35 , 
366px 950px #50C4F2 , 1295px 323px #F25050 , 732px 180px #BF50F2 , 224px 694px #50F289 , 1820px 721px #EDF250 , 1688px 767px #F29A35 , 426px 1283px #50C4F2 , 1922px 1511px #F25050 , 1758px 1360px #BF50F2 , 73px 1809px #50F289 , 1883px 25px #EDF250 , 1277px 248px #F29A35 , 
1839px 135px #50C4F2 , 1284px 346px #F25050 , 1391px 282px #BF50F2 , 1502px 631px #50F289 , 72px 1729px #EDF250 , 395px 1229px #F29A35 , 
161px 866px #50C4F2 , 629px 761px #F25050 , 1165px 1672px #BF50F2 , 16px 655px #50F289 , 872px 1683px #EDF250 , 1357px 236px #F29A35 ,
543px 1634px #50C4F2 , 1892px 260px #F25050 , 1036px 632px #BF50F2 , 84px 1929px #50F289 , 425px 595px #EDF250 , 1602px 1460px #F29A35 , 
1661px 387px #50C4F2 , 948px 1px #F25050 , 195px 396px #BF50F2 , 53px 1619px #50F289 , 1644px 151px #EDF250 , 336px 1325px #F29A35 ,
260px 121px #50C4F2 , 162px 202px #F25050 , 965px 783px #BF50F2 , 1115px 923px #50F289 , 1812px 1726px #EDF250 , 1919px 1545px #F29A35 , 
15px 1327px #50C4F2 , 552px 1845px #F25050 , 583px 67px #BF50F2 , 1412px 1427px #50F289 , 102px 20px #EDF250 , 1940px 381px #F29A35 ,
308px 489px #50C4F2 , 1052px 1712px #F25050, 1936px 1020px #BF50F2 , 1069px 464px #50F289 , 313px 885px #EDF250 , 1610px 456px #F29A35 , 
1454px 866px #50C4F2 , 465px 1916px #F25050 , 1787px 706px #BF50F2 , 131px 1219px #50F289 , 845px 1455px #EDF250 , 407px 753px #F29A35 , 
796px 346px #50C4F2 , 781px 858px #F25050 , 1419px 952px #BF50F2 , 1892px 768px #50F289 , 1935px 636px #EDF250 , 1206px 1694px #F29A35 , 
1715px 1830px #50C4F2 , 1637px 656px #F25050 , 1697px 1978px #BF50F2 , 1774px 597px #50F289 , 1644px 1356px #EDF250 , 1855px 1901px #F29A35 , 
1629px 1126px #50C4F2 , 1590px 1006px #F25050 , 693px 844px #BF50F2 , 888px 1137px #50F289 , 1640px 1186px #EDF250 , 1161px 174px #F29A35 ,
1998px 1893px #50C4F2 , 776px 698px #F25050 , 552px 858px #BF50F2 , 706px 1627px #50F289 , 1749px 85px #EDF250 , 1358px 1565px #F29A35 , 
1202px 874px #50C4F2 , 928px 1229px #F25050 , 1608px 1030px #BF50F2 , 771px 1344px #50F289 , 253px 478px #EDF250 , 178px 741px #F29A35 , 
238px 1509px #50C4F2 , 295px 1719px #F25050 , 616px 838px #BF50F2 , 1823px 855px #50F289 , 1133px 80px #EDF250 , 567px 1367px #F29A35 , 822px 519px #50C4F2 , 271px 401px #F25050 , 473px 1142px #BF50F2 , 1971px 246px #50F289 , 544px 1946px #EDF250 , 136px 510px #F29A35 , 
925px 1346px #50C4F2 , 1507px 1534px #F25050 , 1203px 1961px #BF50F2 , 333px 1256px #50F289 , 1398px 338px #EDF250 , 1114px 862px #F29A35 ,
518px 582px #50C4F2 , 1042px 1386px #F25050 , 995px 442px #BF50F2 , 1408px 1674px #50F289 , 1161px 1766px #EDF250 , 1104px 543px #F29A35 , 
74px 1017px #50C4F2 , 1495px 1060px #F25050 , 727px 436px #BF50F2 , 1666px 519px #50F289 , 439px 1877px #EDF250 , 347px 787px #F29A35 , 1766px 1108px #50C4F2 , 129px 1945px #F25050 , 1755px 1917px #BF50F2 , 4px 1512px #50F289 , 1377px 1714px #EDF250 , 753px 1900px #F29A35 , 
960px 838px #50C4F2 , 1651px 1815px #F25050 , 348px 1622px #BF50F2 , 1173px 407px #50F289 , 1346px 1474px #EDF250 , 1917px 1740px #F29A35 , 
723px 1661px #50C4F2 , 335px 45px #F25050 , 1290px 1204px #BF50F2 , 1807px 265px #50F289 , 301px 22px #EDF250 , 1106px 1060px #F29A35 , 695px 1895px #50C4F2 , 917px 1135px #F25050 , 896px 861px #BF50F2 , 236px 160px #50F289 , 1930px 368px #EDF250 , 1092px 909px #F29A35 ,
 258px 1436px #50C4F2 , 1316px 636px #F25050 , 1935px 1896px #BF50F2 , 1929px 829px #50F289 , 1480px 1937px #EDF250 , 410px 266px #F29A35 , 
 1837px 336px #50C4F2 , 1564px 457px #F25050 , 643px 1014px #BF50F2 , 766px 194px #50F289 , 929px 579px #EDF250 , 292px 1077px #F29A35 , 
 1985px 1080px #50C4F2 , 742px 1206px #F25050 , 1474px 1174px #BF50F2 , 920px 1700px #50F289 , 878px 255px #EDF250 , 262px 77px #F29A35 , 
 334px 652px #50C4F2 , 1102px 1375px #F25050 , 1907px 710px #BF50F2 , 1266px 258px #50F289 , 1044px 1410px #EDF250 , 62px 1179px #F29A35 , 
 783px 1256px #50C4F2 , 1104px 1386px #F25050 , 1756px 1354px #BF50F2 , 1886px 674px #50F289 , 340px 1085px #EDF250 , 1189px 1374px #F29A35 ,
  299px 1481px #50C4F2 , 452px 170px #F25050 , 336px 154px #BF50F2 , 1447px 594px #50F289 , 1334px 920px #EDF250 , 1084px 1554px #F29A35 ,
   1264px 235px #50C4F2 , 1596px 662px #F25050 , 200px 1917px #BF50F2 , 1576px 700px #50F289 , 528px 1739px #EDF250 , 1356px 465px #F29A35 ,
 1720px 190px #50C4F2 , 739px 819px #F25050 , 1278px 630px #BF50F2 , 202px 1983px #50F289 , 483px 1868px #EDF250 , 624px 745px #F29A35 ,
  1801px 444px #50C4F2 , 776px 1853px #F25050 , 1271px 313px #BF50F2 , 402px 1304px #50F289 , 1787px 742px #EDF250 , 932px 361px #F29A35 ,
 1087px 1490px #50C4F2 , 1137px 1972px #F25050 , 1988px 1168px #BF50F2 , 1622px 407px #50F289 , 1125px 719px #EDF250 , 680px 760px #F29A35 ,
  665px 1061px #50C4F2 , 1225px 1840px #F25050 , 12px 245px #BF50F2 , 135px 1173px #50F289 , 123px 307px #EDF250 , 1558px 866px #F29A35 , 
  1964px 814px #50C4F2 , 1903px 1087px #F25050 , 233px 1644px #BF50F2 , 1491px 1479px #50F289 , 1263px 545px #EDF250 , 678px 567px #F29A35 ,
   1108px 334px #50C4F2 , 4px 178px #F25050 , 1278px 595px #BF50F2 , 772px 1802px #50F289 , 382px 524px #EDF250 , 187px 1992px #F29A35 ,
    1322px 1078px #50C4F2 , 1997px 405px #F25050 , 1072px 990px #BF50F2 , 96px 873px #50F289 , 659px 1809px #EDF250 , 1318px 22px #F29A35 ,
     1694px 503px #50C4F2 , 1495px 498px #F25050 , 578px 1930px #BF50F2 , 655px 355px #50F289 , 328px 416px #EDF250 , 360px 1501px #F29A35 ,
      1170px 1487px #50C4F2 , 1604px 743px #F25050 , 1384px 1093px #BF50F2 , 857px 566px #50F289 , 580px 937px #EDF250 , 1302px 1762px #F29A35 ,
869px 1016px #50C4F2 , 145px 220px #F25050 , 817px 451px #BF50F2 , 1698px 333px #50F289 , 740px 57px #EDF250 , 202px 70px #F29A35 ,
 1403px 1385px #50C4F2 , 4px 976px #F25050 , 1084px 607px #BF50F2 , 1376px 1161px #50F289 , 1972px 1562px #EDF250 , 1575px 1805px #F29A35 , 
 1566px 20px #50C4F2 , 226px 599px #F25050 , 1238px 1860px #BF50F2 , 1769px 1954px #50F289 , 1132px 205px #EDF250 , 1697px 572px #F29A35 , 
 931px 819px #50C4F2 , 1068px 763px #F25050 , 107px 1095px #BF50F2 , 1958px 246px #50F289 , 1200px 936px #EDF250 , 805px 788px #F29A35 , 
 270px 1530px #50C4F2 , 1327px 1794px #F25050 , 893px 1014px #BF50F2 , 821px 1405px #50F289 , 645px 932px #EDF250 , 1526px 1598px #F29A35 , 
 876px 1483px #50C4F2 , 60px 1544px #F25050 , 298px 368px #BF50F2 , 973px 320px #50F289 , 1066px 912px #EDF250 , 498px 1792px #F29A35 , 1801px 1780px #50C4F2 , 1282px 1746px #F25050 , 1163px 644px #BF50F2 , 679px 703px #50F289 , 778px 309px #EDF250 , 714px 1493px #F29A35 , 
 158px 1329px #50C4F2 , 264px 1840px #F25050 , 306px 1283px #BF50F2 , 312px 1597px #50F289 , 385px 1758px #EDF250 , 465px 681px #F29A35 , 
 796px 690px #50C4F2 , 646px 1213px #F25050 , 950px 1805px #BF50F2 , 73px 561px #50F289 , 464px 1573px #EDF250 , 729px 1305px #F29A35 , 939px 1568px #50C4F2 , 1893px 603px #F25050 , 1137px 128px #BF50F2 , 1172px 218px #50F289 , 390px 332px #EDF250 , 922px 50px #F29A35 , 
 470px 1188px #50C4F2 , 546px 1832px #F25050 , 1671px 1409px #BF50F2 , 1075px 1446px #50F289 , 1500px 26px #EDF250 , 540px 1531px #F29A35 , 
 690px 1783px #50C4F2 , 374px 1357px #F25050 , 824px 958px #BF50F2 , 848px 1046px #50F289 , 336px 1382px #EDF250 , 181px 1789px #F29A35 , 
 1811px 605px #50C4F2 , 1509px 178px #F25050 , 632px 13px #BF50F2 , 710px 310px #50F289 , 101px 1615px #EDF250 , 444px 1244px #F29A35 , 411px 416px #50C4F2 , 605px 1956px #F25050 , 157px 1470px #BF50F2 , 1268px 579px #50F289 , 1585px 1567px #EDF250 , 1770px 1918px #F29A35 , 
 1339px 720px #50C4F2 , 91px 495px #F25050 , 1587px 1697px #BF50F2 , 1445px 345px #50F289 , 435px 1951px #EDF250 , 1570px 206px #F29A35 , 
 512px 1623px #50C4F2 , 566px 1518px #F25050 , 1270px 331px #BF50F2 , 1551px 1849px #50F289 , 1099px 1689px #EDF250 , 1939px 1933px #F29A35 , 
 193px 1539px #50C4F2 , 486px 1528px #F25050 , 513px 819px #BF50F2 , 920px 1697px #50F289 , 1826px 278px #EDF250 , 246px 882px #F29A35 , 
 33px 923px #50C4F2 , 1034px 1578px #F25050 , 779px 195px #BF50F2 , 1914px 1269px #50F289 , 494px 1096px #EDF250 , 1812px 70px #F29A35 , 
 344px 674px #50C4F2 , 1531px 1834px #F25050 , 1130px 783px #BF50F2 , 1355px 1183px #50F289 , 1792px 562px #EDF250 , 566px 1135px #F29A35 , 
 1688px 467px #50C4F2 , 1791px 369px #F25050 , 460px 470px #BF50F2 , 1051px 1962px #50F289 , 1250px 351px #EDF250 , 1982px 107px #F29A35 , 
 356px 285px #50C4F2 , 1420px 1686px #F25050 , 648px 1335px #BF50F2 , 25px 76px #50F289 , 135px 552px #EDF250 , 1126px 323px #F29A35 , 393px 836px #50C4F2 , 1165px 983px #F25050 , 541px 15px #BF50F2 , 526px 1503px #50F289 , 174px 964px #EDF250 , 121px 1183px #F29A35 , 
 1287px 1433px #50C4F2 , 1881px 1436px #F25050 , 910px 1854px #BF50F2 , 139px 838px #50F289 , 768px 866px #EDF250 , 28px 1048px #F29A35 , 
 1236px 1519px #50C4F2 , 1097px 903px #F25050 , 563px 1708px #BF50F2 , 745px 594px #50F289 , 1383px 1192px #EDF250 , 1732px 470px #F29A35 , 
 1371px 232px #50C4F2 , 173px 699px #F25050 , 1064px 538px #BF50F2 , 1660px 1638px #50F289 , 1095px 561px #EDF250 , 508px 888px #F29A35 , 
 216px 1554px #50C4F2 , 667px 1557px #F25050 , 735px 1981px #BF50F2 , 1830px 1846px #50F289 , 1356px 1442px #EDF250 , 109px 938px #F29A35 , 
 1059px 1291px #50C4F2 , 472px 1622px #F25050 , 1935px 1962px #BF50F2 , 1775px 6px #50F289 , 1901px 761px #EDF250 , 1841px 1370px #F29A35 ,
  47px 244px #50C4F2 , 17px 285px #F25050 , 688px 1630px #BF50F2 , 1212px 1353px #50F289 , 1406px 590px #EDF250 , 834px 1606px #F29A35 , 
  163px 384px #50C4F2 , 146px 1358px #F25050 , 1865px 1539px #BF50F2 , 858px 973px #50F289 , 503px 387px #EDF250 , 433px 630px #F29A35 , 
  1606px 703px #50C4F2 , 531px 1975px #F25050 , 1485px 203px #BF50F2 , 1184px 106px #50F289 , 1948px 1800px #EDF250 , 834px 1579px #F29A35 ,
   226px 493px #50C4F2 , 1399px 774px #F25050 , 1172px 32px #BF50F2 , 1027px 1930px #50F289 , 1701px 539px #EDF250 , 358px 145px #F29A35 , 
   793px 1496px #50C4F2 , 759px 1294px #F25050 , 1004px 829px #BF50F2 , 205px 1391px #50F289 , 1001px 1409px #EDF250 , 1455px 880px #F29A35 , 
   935px 1355px #50C4F2 , 519px 645px #F25050 , 1977px 1038px #BF50F2 , 186px 231px #50F289 , 764px 1508px #EDF250 , 1160px 1876px #F29A35 , 
   494px 988px #50C4F2 , 517px 1024px #F25050 , 1939px 1187px #BF50F2 , 196px 20px #50F289 , 1548px 632px #EDF250 , 1446px 1931px #F29A35 , 
   1804px 1688px #50C4F2 , 1250px 1608px #F25050 , 655px 1657px #BF50F2 , 631px 1046px #50F289 , 1378px 869px #EDF250 , 1291px 1208px #F29A35 , 
   625px 1434px #50C4F2 , 650px 142px #F25050 , 445px 1536px #BF50F2 , 644px 463px #50F289 , 1951px 1045px #EDF250 , 391px 531px #F29A35 , 
   1381px 1001px #50C4F2 , 871px 1973px #F25050 , 205px 1261px #BF50F2 , 921px 348px #50F289 , 1050px 1819px #EDF250 , 626px 1104px #F29A35 , 
   1704px 694px #50C4F2 , 209px 786px #F25050 , 1820px 355px #BF50F2 , 810px 861px #50F289 , 1294px 1342px #EDF250 , 974px 355px #F29A35 , 
   1093px 658px #50C4F2 , 681px 1801px #F25050 , 411px 340px #BF50F2 , 953px 940px #50F289 , 1466px 1697px #EDF250 , 593px 404px #F29A35 , 
   541px 1085px #50C4F2 , 1393px 325px #F25050 , 1203px 1165px #BF50F2 , 368px 1980px #50F289 , 1143px 1899px #EDF250 , 1888px 1352px #F29A35 , 
   40px 991px #50C4F2 , 232px 149px #F25050 , 746px 553px #BF50F2 , 1947px 657px #50F289 , 365px 1942px #EDF250 , 1654px 312px #F29A35 , 
   999px 83px #50C4F2 , 992px 1947px #F25050 , 1319px 941px #BF50F2 , 1848px 1253px #50F289;
}

#stars2 {
  width: 5px;
  height: 5px;
  background: transparent;
  box-shadow: 160px 1655px #50C4F2 , 742px 559px #BF50F2 , 1440px 1546px #F25050 , 1009px 1813px #50F289 , 171px 585px #EDF250 , 1705px 504px #F29A35 , 
  1576px 178px #50C4F2 , 1868px 440px #BF50F2 , 1147px 1742px #F25050 , 1446px 161px #50F289 , 1372px 1644px #EDF250 , 679px 200px #F29A35 , 
  1518px 1751px #50C4F2 , 1626px 126px #BF50F2 , 1998px 67px #F25050 , 109px 702px #50F289 , 460px 680px #EDF250 , 1852px 720px #F29A35 , 
  762px 1470px #50C4F2 , 190px 203px #BF50F2 , 1112px 617px #F25050 , 514px 55px #50F289 , 1589px 1287px #EDF250 , 16px 1982px #F29A35 , 
  197px 232px #50C4F2 , 520px 1599px #BF50F2 , 1190px 170px #F25050 , 510px 652px #50F289 , 1269px 514px #EDF250 , 1402px 70px #F29A35 , 
  719px 84px #50C4F2 , 1767px 1549px #BF50F2 , 715px 1397px #F25050 , 854px 135px #50F289 , 728px 1757px #EDF250 , 1307px 1024px #F29A35 , 
  1479px 479px #50C4F2 , 248px 1815px #BF50F2 , 1458px 843px #F25050 , 1997px 724px #50F289 , 1643px 1834px #EDF250 , 489px 769px #F29A35 , 
  1614px 368px #50C4F2 , 813px 1895px #BF50F2 , 1546px 1428px #F25050 , 950px 98px #50F289 , 1879px 504px #EDF250 , 1768px 283px #F29A35 , 
  215px 574px #50C4F2 , 1598px 409px #BF50F2 , 1273px 1415px #F25050 , 341px 885px #50F289 , 770px 1284px #EDF250 , 1347px 1422px #F29A35 , 
  1999px 612px #50C4F2 , 1143px 228px #BF50F2 , 1580px 626px #F25050 , 134px 1503px #50F289 , 1633px 502px #EDF250 , 1775px 337px #F29A35 , 
  1303px 829px #50C4F2 , 1838px 859px #BF50F2 , 1332px 843px #F25050 , 27px 1522px #50F289 , 1061px 1829px #EDF250 , 1942px 1716px #F29A35 , 
  1251px 72px #50C4F2 , 1813px 1752px #BF50F2 , 459px 1290px #F25050 , 1719px 135px #50F289 , 665px 1045px #EDF250 , 335px 1611px #F29A35 , 
  1089px 20px #50C4F2 , 1858px 1240px #BF50F2 , 424px 215px #F25050 , 494px 770px #50F289 , 485px 669px #EDF250 , 1503px 446px #F29A35 , 
  989px 1997px #50C4F2 , 1294px 6px #BF50F2 , 1009px 1068px #F25050 , 1986px 1746px #50F289 , 261px 1498px #EDF250 , 1929px 403px #F29A35 , 
  1472px 1827px #50C4F2 , 1370px 803px #BF50F2 , 1225px 1770px #F25050 , 1620px 635px #50F289 , 313px 1160px #EDF250 , 1454px 633px #F29A35 , 
  797px 1557px #50C4F2 , 411px 1586px #BF50F2 , 1323px 1774px #F25050 , 988px 7px #50F289 , 792px 1699px #EDF250 , 1320px 1843px #F29A35 , 
  605px 1235px #50C4F2 , 262px 102px #BF50F2 , 1792px 949px #F25050 , 120px 1574px #50F289 , 1855px 1830px #EDF250 , 1812px 1075px #F29A35 , 
  756px 120px #50C4F2 , 1753px 1482px #BF50F2 , 883px 1411px #F25050 , 14px 1331px #50F289 , 94px 297px #EDF250 , 1381px 748px #F29A35 , 
  769px 1508px #50C4F2 , 1913px 1856px #BF50F2 , 774px 1227px #F25050 , 430px 1002px #50F289 , 611px 1510px #EDF250 , 971px 1446px #F29A35 , 
  540px 1313px #50C4F2 , 62px 1779px #BF50F2 , 202px 1324px #F25050 , 108px 1402px #50F289 , 726px 1643px #EDF250 , 1762px 724px #F29A35 , 
  168px 1062px #50C4F2 , 963px 947px #BF50F2 , 1782px 1741px #F25050 , 1151px 1711px #50F289 , 1384px 983px #EDF250 , 1032px 6px #F29A35 , 
  1575px 137px #50C4F2 , 1840px 1119px #BF50F2 , 1481px 1594px #F25050 , 1432px 1400px #50F289 , 95px 266px #EDF250 , 1854px 149px #F29A35 , 
  305px 777px #50C4F2 , 1050px 1186px #BF50F2 , 632px 1954px #F25050 , 1578px 466px #50F289 , 1256px 250px #EDF250 , 162px 418px #F29A35 , 
  361px 561px #50C4F2 , 1079px 754px #BF50F2 , 1914px 1066px #F25050 , 1422px 337px #50F289 , 1249px 1211px #EDF250 , 816px 58px #F29A35 , 
  1702px 75px #50C4F2 , 908px 175px #BF50F2 , 776px 184px #F25050 , 1505px 1807px #50F289 , 205px 1222px #EDF250 , 658px 264px #F29A35 , 1335px 1235px #50C4F2 , 965px 1308px #BF50F2 , 62px 934px #F25050 , 889px 1655px #50F289 , 1471px 1534px #EDF250 , 379px 781px #F29A35 , 
  993px 68px #50C4F2 , 1538px 1317px #BF50F2 , 1075px 1528px #F25050 , 1787px 1149px #50F289 , 1560px 193px #EDF250 , 1442px 1716px #F29A35 , 
  675px 1691px #50C4F2 , 1861px 1459px #BF50F2 , 1361px 1311px #F25050 , 673px 494px #50F289 , 781px 435px #EDF250 , 1902px 1097px #F29A35 , 
  1708px 349px #50C4F2 , 1080px 481px #BF50F2 , 233px 1165px #F25050 , 868px 336px #50F289 , 696px 85px #EDF250 , 572px 210px #F29A35 , 1784px 1373px #50C4F2 , 609px 221px #BF50F2 , 1573px 166px #F25050 , 803px 1449px #50F289 , 587px 1046px #EDF250 , 566px 1187px #F29A35 , 
  1116px 978px #50C4F2 , 233px 1154px #BF50F2 , 195px 30px #F25050 , 362px 657px #50F289 , 1834px 933px #EDF250 , 1158px 894px #F29A35 ,
   597px 860px #50C4F2 , 1178px 444px #BF50F2 , 1287px 1221px #F25050 , 161px 1010px #50F289 , 455px 49px #EDF250 , 474px 1402px #F29A35 ,
    176px 223px #50C4F2 , 1096px 1728px #BF50F2 , 1238px 797px #F25050 , 1530px 1560px #50F289 , 1952px 174px #EDF250 , 1415px 987px #F29A35 , 
    1573px 1558px #50C4F2 , 1345px 1188px #BF50F2;
  animation: animStar 30s linear infinite reverse;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 5px;
  height: 5px;
  background: transparent;
  box-shadow: 160px 1655px #50C4F2 , 742px 559px #BF50F2 , 1440px 1546px #F25050 , 1009px 1813px #50F289 , 171px 585px #EDF250 , 1705px 504px #F29A35 , 
  1576px 178px #50C4F2 , 1868px 440px #BF50F2 , 1147px 1742px #F25050 , 1446px 161px #50F289 , 1372px 1644px #EDF250 , 679px 200px #F29A35 , 
  1518px 1751px #50C4F2 , 1626px 126px #BF50F2 , 1998px 67px #F25050 , 109px 702px #50F289 , 460px 680px #EDF250 , 1852px 720px #F29A35 , 
  762px 1470px #50C4F2 , 190px 203px #BF50F2 , 1112px 617px #F25050 , 514px 55px #50F289 , 1589px 1287px #EDF250 , 16px 1982px #F29A35 , 
  197px 232px #50C4F2 , 520px 1599px #BF50F2 , 1190px 170px #F25050 , 510px 652px #50F289 , 1269px 514px #EDF250 , 1402px 70px #F29A35 , 
  719px 84px #50C4F2 , 1767px 1549px #BF50F2 , 715px 1397px #F25050 , 854px 135px #50F289 , 728px 1757px #EDF250 , 1307px 1024px #F29A35 , 
  1479px 479px #50C4F2 , 248px 1815px #BF50F2 , 1458px 843px #F25050 , 1997px 724px #50F289 , 1643px 1834px #EDF250 , 489px 769px #F29A35 , 
  1614px 368px #50C4F2 , 813px 1895px #BF50F2 , 1546px 1428px #F25050 , 950px 98px #50F289 , 1879px 504px #EDF250 , 1768px 283px #F29A35 , 
  215px 574px #50C4F2 , 1598px 409px #BF50F2 , 1273px 1415px #F25050 , 341px 885px #50F289 , 770px 1284px #EDF250 , 1347px 1422px #F29A35 , 
  1999px 612px #50C4F2 , 1143px 228px #BF50F2 , 1580px 626px #F25050 , 134px 1503px #50F289 , 1633px 502px #EDF250 , 1775px 337px #F29A35 , 
  1303px 829px #50C4F2 , 1838px 859px #BF50F2 , 1332px 843px #F25050 , 27px 1522px #50F289 , 1061px 1829px #EDF250 , 1942px 1716px #F29A35 , 
  1251px 72px #50C4F2 , 1813px 1752px #BF50F2 , 459px 1290px #F25050 , 1719px 135px #50F289 , 665px 1045px #EDF250 , 335px 1611px #F29A35 , 
  1089px 20px #50C4F2 , 1858px 1240px #BF50F2 , 424px 215px #F25050 , 494px 770px #50F289 , 485px 669px #EDF250 , 1503px 446px #F29A35 , 
  989px 1997px #50C4F2 , 1294px 6px #BF50F2 , 1009px 1068px #F25050 , 1986px 1746px #50F289 , 261px 1498px #EDF250 , 1929px 403px #F29A35 , 
  1472px 1827px #50C4F2 , 1370px 803px #BF50F2 , 1225px 1770px #F25050 , 1620px 635px #50F289 , 313px 1160px #EDF250 , 1454px 633px #F29A35 , 
  797px 1557px #50C4F2 , 411px 1586px #BF50F2 , 1323px 1774px #F25050 , 988px 7px #50F289 , 792px 1699px #EDF250 , 1320px 1843px #F29A35 , 
  605px 1235px #50C4F2 , 262px 102px #BF50F2 , 1792px 949px #F25050 , 120px 1574px #50F289 , 1855px 1830px #EDF250 , 1812px 1075px #F29A35 , 
  756px 120px #50C4F2 , 1753px 1482px #BF50F2 , 883px 1411px #F25050 , 14px 1331px #50F289 , 94px 297px #EDF250 , 1381px 748px #F29A35 , 
  769px 1508px #50C4F2 , 1913px 1856px #BF50F2 , 774px 1227px #F25050 , 430px 1002px #50F289 , 611px 1510px #EDF250 , 971px 1446px #F29A35 , 
  540px 1313px #50C4F2 , 62px 1779px #BF50F2 , 202px 1324px #F25050 , 108px 1402px #50F289 , 726px 1643px #EDF250 , 1762px 724px #F29A35 , 
  168px 1062px #50C4F2 , 963px 947px #BF50F2 , 1782px 1741px #F25050 , 1151px 1711px #50F289 , 1384px 983px #EDF250 , 1032px 6px #F29A35 , 
  1575px 137px #50C4F2 , 1840px 1119px #BF50F2 , 1481px 1594px #F25050 , 1432px 1400px #50F289 , 95px 266px #EDF250 , 1854px 149px #F29A35 , 
  305px 777px #50C4F2 , 1050px 1186px #BF50F2 , 632px 1954px #F25050 , 1578px 466px #50F289 , 1256px 250px #EDF250 , 162px 418px #F29A35 , 
  361px 561px #50C4F2 , 1079px 754px #BF50F2 , 1914px 1066px #F25050 , 1422px 337px #50F289 , 1249px 1211px #EDF250 , 816px 58px #F29A35 , 
  1702px 75px #50C4F2 , 908px 175px #BF50F2 , 776px 184px #F25050 , 1505px 1807px #50F289 , 205px 1222px #EDF250 , 658px 264px #F29A35 , 1335px 1235px #50C4F2 , 965px 1308px #BF50F2 , 62px 934px #F25050 , 889px 1655px #50F289 , 1471px 1534px #EDF250 , 379px 781px #F29A35 , 
  993px 68px #50C4F2 , 1538px 1317px #BF50F2 , 1075px 1528px #F25050 , 1787px 1149px #50F289 , 1560px 193px #EDF250 , 1442px 1716px #F29A35 , 
  675px 1691px #50C4F2 , 1861px 1459px #BF50F2 , 1361px 1311px #F25050 , 673px 494px #50F289 , 781px 435px #EDF250 , 1902px 1097px #F29A35 , 
  1708px 349px #50C4F2 , 1080px 481px #BF50F2 , 233px 1165px #F25050 , 868px 336px #50F289 , 696px 85px #EDF250 , 572px 210px #F29A35 , 1784px 1373px #50C4F2 , 609px 221px #BF50F2 , 1573px 166px #F25050 , 803px 1449px #50F289 , 587px 1046px #EDF250 , 566px 1187px #F29A35 , 
  1116px 978px #50C4F2 , 233px 1154px #BF50F2 , 195px 30px #F25050 , 362px 657px #50F289 , 1834px 933px #EDF250 , 1158px 894px #F29A35 ,
   597px 860px #50C4F2 , 1178px 444px #BF50F2 , 1287px 1221px #F25050 , 161px 1010px #50F289 , 455px 49px #EDF250 , 474px 1402px #F29A35 ,
    176px 223px #50C4F2 , 1096px 1728px #BF50F2 , 1238px 797px #F25050 , 1530px 1560px #50F289 , 1952px 174px #EDF250 , 1415px 987px #F29A35 , 
    1573px 1558px #50C4F2 , 1345px 1188px #BF50F2;;
}

#stars3 {
  width: 6px;
  height: 6px;
  background: transparent;
  box-shadow: 1921px 308px #50C4F2 , 1492px 1707px #F25050 , 1942px 719px #BF50F2 , 359px 598px #50F289 , 1752px 1524px #EDF250 , 
  178px 330px #F29A35 , 
  511px 1500px #50C4F2 , 376px 1394px #F25050 , 495px 73px #BF50F2 , 218px 672px #50F289 , 223px 1239px #EDF250 , 1739px 1829px #F29A35 , 
  1879px 373px #50C4F2 , 237px 1406px #F25050 , 806px 1482px #BF50F2 , 161px 998px #50F289 , 107px 499px #EDF250 , 755px 652px #F29A35 , 
  378px 929px #50C4F2 , 291px 1198px #F25050 , 851px 1636px #BF50F2 , 754px 1032px #50F289 , 1109px 1446px #EDF250 , 301px 189px #F29A35 , 
  47px 950px #50C4F2 , 320px 1240px #F25050 , 631px 1815px #BF50F2 , 581px 1517px #50F289 , 1171px 536px #EDF250 , 163px 85px #F29A35 , 1197px 366px #50C4F2 , 1154px 499px #F25050 , 592px 1424px #BF50F2 , 1970px 1601px #50F289 , 1951px 1223px #EDF250 , 624px 1525px #F29A35 , 
  917px 559px #50C4F2 , 1152px 1401px #F25050 , 420px 1965px #BF50F2 , 1561px 985px #50F289 , 1080px 1671px #EDF250 , 153px 37px #F29A35 , 
  838px 728px #50C4F2 , 1594px 1251px #F25050 , 512px 108px #BF50F2 , 216px 1649px #50F289 , 559px 740px #EDF250 , 363px 677px #F29A35 , 
  816px 1659px #50C4F2 , 1468px 627px #F25050 , 1336px 1342px #BF50F2 , 1859px 22px #50F289 , 1319px 1460px #EDF250 , 52px 1259px #F29A35 , 
  1054px 1204px #50C4F2 , 1212px 450px #F25050 , 123px 1905px #BF50F2 , 960px 656px #50F289 , 1494px 453px #EDF250 , 1877px 1460px #F29A35 , 
  800px 1687px #50C4F2 , 1534px 505px #F25050 , 1008px 1376px #BF50F2 , 681px 1430px #50F289 , 1833px 74px #EDF250 , 248px 598px #F29A35 , 
  268px 407px #50C4F2 , 1450px 354px #F25050 , 1771px 668px #BF50F2 , 37px 1431px #50F289 , 1732px 1700px #EDF250 , 1353px 1205px #F29A35 , 
  808px 130px #50C4F2 , 961px 556px #F25050 , 1883px 1907px #BF50F2 , 47px 902px #50F289 , 675px 1141px #EDF250 , 1575px 982px #F29A35 ,
   248px 235px #50C4F2 , 783px 337px #F25050 , 1183px 1123px #BF50F2 , 1590px 411px #50F289 , 1347px 560px #EDF250 , 1898px 535px #F29A35 , 
   1647px 606px #50C4F2 , 840px 1931px #F25050 , 811px 717px #BF50F2 , 415px 1360px #50F289 , 463px 1115px #EDF250 , 1218px 450px #F29A35 , 
   886px 206px #50C4F2 , 879px 1557px #F25050 , 1933px 1522px #BF50F2 , 321px 570px #50F289 , 1077px 1735px #EDF250 , 1653px 362px #F29A35 , 
   1066px 1786px #50C4F2 , 1140px 471px #F25050 , 113px 1929px #BF50F2 , 1830px 1708px #50F289;
  animation: animStar 45s linear infinite reverse;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 6px;
  height: 6px;
  background: transparent;
  box-shadow: 1921px 308px #50C4F2 , 1492px 1707px #F25050 , 1942px 719px #BF50F2 , 359px 598px #50F289 , 1752px 1524px #EDF250 , 
  178px 330px #F29A35 , 
  511px 1500px #50C4F2 , 376px 1394px #F25050 , 495px 73px #BF50F2 , 218px 672px #50F289 , 223px 1239px #EDF250 , 1739px 1829px #F29A35 , 
  1879px 373px #50C4F2 , 237px 1406px #F25050 , 806px 1482px #BF50F2 , 161px 998px #50F289 , 107px 499px #EDF250 , 755px 652px #F29A35 , 
  378px 929px #50C4F2 , 291px 1198px #F25050 , 851px 1636px #BF50F2 , 754px 1032px #50F289 , 1109px 1446px #EDF250 , 301px 189px #F29A35 , 
  47px 950px #50C4F2 , 320px 1240px #F25050 , 631px 1815px #BF50F2 , 581px 1517px #50F289 , 1171px 536px #EDF250 , 163px 85px #F29A35 , 1197px 366px #50C4F2 , 1154px 499px #F25050 , 592px 1424px #BF50F2 , 1970px 1601px #50F289 , 1951px 1223px #EDF250 , 624px 1525px #F29A35 , 
  917px 559px #50C4F2 , 1152px 1401px #F25050 , 420px 1965px #BF50F2 , 1561px 985px #50F289 , 1080px 1671px #EDF250 , 153px 37px #F29A35 , 
  838px 728px #50C4F2 , 1594px 1251px #F25050 , 512px 108px #BF50F2 , 216px 1649px #50F289 , 559px 740px #EDF250 , 363px 677px #F29A35 , 
  816px 1659px #50C4F2 , 1468px 627px #F25050 , 1336px 1342px #BF50F2 , 1859px 22px #50F289 , 1319px 1460px #EDF250 , 52px 1259px #F29A35 , 
  1054px 1204px #50C4F2 , 1212px 450px #F25050 , 123px 1905px #BF50F2 , 960px 656px #50F289 , 1494px 453px #EDF250 , 1877px 1460px #F29A35 , 
  800px 1687px #50C4F2 , 1534px 505px #F25050 , 1008px 1376px #BF50F2 , 681px 1430px #50F289 , 1833px 74px #EDF250 , 248px 598px #F29A35 , 
  268px 407px #50C4F2 , 1450px 354px #F25050 , 1771px 668px #BF50F2 , 37px 1431px #50F289 , 1732px 1700px #EDF250 , 1353px 1205px #F29A35 , 
  808px 130px #50C4F2 , 961px 556px #F25050 , 1883px 1907px #BF50F2 , 47px 902px #50F289 , 675px 1141px #EDF250 , 1575px 982px #F29A35 ,
   248px 235px #50C4F2 , 783px 337px #F25050 , 1183px 1123px #BF50F2 , 1590px 411px #50F289 , 1347px 560px #EDF250 , 1898px 535px #F29A35 , 
   1647px 606px #50C4F2 , 840px 1931px #F25050 , 811px 717px #BF50F2 , 415px 1360px #50F289 , 463px 1115px #EDF250 , 1218px 450px #F29A35 , 
   886px 206px #50C4F2 , 879px 1557px #F25050 , 1933px 1522px #BF50F2 , 321px 570px #50F289 , 1077px 1735px #EDF250 , 1653px 362px #F29A35 , 
   1066px 1786px #50C4F2 , 1140px 471px #F25050 , 113px 1929px #BF50F2 , 1830px 1708px #50F289;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #50C4F2;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

.row p,.row h3,.row h1{
	font-family: 'Roboto', sans-serif;
}
.link a{
	padding:12px;
	margin:12px;
}
.link{
	
	padding:12px;
}
.prolinks{
	

  bottom :0px;
  /* Negative indent footer by its height */
  margin: 0 0 0;
  /* Pad bottom by footer height */
  padding: 0 0 0; 
}
.prolinks .link{
	bottom: 0px;
}
#wrap {
  
  color: #3e5af9;
  font-family: 'Roboto', sans-serif;
  min-height: 100%;
  text-align:center;
  height: 200px;
  /* Negative indent footer by its height */
  margin: 0px auto -60px;
  /* Pad bottom by footer height */
  padding: 100px 0 60px;
}
#footer {


  height: 60px;
  
  
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}